.all {
    width: 390px;
    border: 8px solid black;
}
button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: none;
}
input {
    margin: 10px;
    width: 330px;
    height: 30px;
}
button:hover {
    background-color: cornflowerblue;
}
.logo-navbar {
    width: 40px;
    transition: 1s;
}
.logo-navbar:hover {
    transition: 1s;
    transform: rotate(360deg)
}
.navbar {
    font-size: 12pt;
}